{% load static tailwind_tags %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>WasterRedux</title>
    <link rel="icon" href="{% static 'images/resized_logo.png' %}" />
  </head>

  <body>
    <section
      class="min-h-screen flex items-stretch bg-gradient-to-b-redux relative"
    >
      <div
        class="xl:flex lg:flex md:flex xl:-translate-y-10 xl:translate-x-14 lg:translate-x-12 md:translate-x-8 w-1/2 hidden bg-no-repeat bg-cover relative items-center overflow-hidden"
      >
        <div class="hand-img mt-8 md:mt-72 lg:mt-12">
          <img
            src="{% static 'images/scanhand2.png' %}"
            class="aspect-[1] w-[700px]"
          />
        </div>
      </div>
      <div
        class="bg-redux-tintwhite2 lg:w-1/2 w-full flex flex-col items-center justify-center text-center md:px-0 py-0 z-0 xl:rounded-l-[60px] lg:rounded-l-[60px] md:rounded-l-[60px] relative"
      >
        <div
          class="absolute lg:top-0 lg:-left-1 top-0 left-1/2 transform xs:-translate-x-16 xs: md:-translate-x-14 lg:translate-x-0 lg:transform-none"
        >
          <img
            loading="lazy"
            src="{% static 'images/wasteredux_logo.png' %}"
            alt="Logo"
            class="aspect-[0.75] w-[40px] fixed-logo-spacing"
          />
        </div>
        <div class="w-full pt-28">
          <h1
            class="mt-1 text-5xl xl:max-lg:text-5xl font-bold text-redux-green max-md:mt-1 max-md:max-w-full max-md:text-4xl"
          >
            Welcome Admin!
          </h1>
          <p class="mt-2 text-redux-green max-md:mt-2">Sign in to continue</p>

          <form
            action="{% url 'index' %}"
            method="POST"
            class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto"
          >
            {% csrf_token %} {% if messages %}
            <div class="mt-5 -mb-10">
              {% for message in messages %}
              <p class="text-red-500">{{ message }}</p>
              {% endfor %}
            </div>
            {% endif %}

            <div class="fixed-container">
              <div class="pb-2 pt-4">
                <input
                  type="text"
                  name="username"
                  id="username"
                  placeholder="Username or Email"
                  class="justify-center items-start px-6 py-5 mt-10 w-full whitespace-nowrap bg-white rounded-xl border border-solid {% if messages %}border-red-500{% else %}border-redux-gray{% endif %} border-redux-gray text-redux-green max-md:px-5 max-md:mt-1 hover:border-x-2 focus:border focus:border-redux-green focus:outline-none"
                />
              </div>

              <div class="relative pb-2 pt-4">
                <input
                  class="justify-center items-start px-6 py-5 w-full whitespace-nowrap bg-white rounded-xl border border-solid {% if messages %}border-red-500{% else %}border-redux-gray{% endif %} border-redux-gray text-redux-green max-md:px-5 max-md:mt-1 hover:border-x-2 focus:border focus:border-redux-green focus:outline-none"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                />
                <button
                  type="button"
                  class="absolute inset-y-0 right-0 px-6 py-10 text-sm text-redux-green focus:outline-none"
                  onclick="togglePasswordVisibility()"
                >
                  <svg
                    id="eyeIcon"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="stroke-redux-gray hover:stroke-redux-green h-5 w-5"
                  >
                    <path
                      id="showPassword"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1"
                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                    />
                    <path
                      id="showPasswordEye"
                      class="hidden"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                    <path
                      id="hidePassword"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1"
                      d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
                    />
                  </svg>
                </button>

                <script>
                  function togglePasswordVisibility() {
                    const passwordInput = document.getElementById("password");
                    const showPassword =
                      document.getElementById("showPassword");
                    const showPasswordEye =
                      document.getElementById("showPasswordEye");
                    const hidePassword =
                      document.getElementById("hidePassword");

                    if (passwordInput.type === "password") {
                      passwordInput.type = "text";
                      showPassword.classList.remove("hidden");
                      showPasswordEye.classList.remove("hidden");
                      hidePassword.classList.add("hidden");
                    } else {
                      passwordInput.type = "password";
                      showPassword.classList.add("hidden");
                      showPasswordEye.classList.add("hidden");
                      hidePassword.classList.remove("hidden");
                    }
                  }
                </script>
              </div>
            </div>

            <div class="pt-12">
              <button
                type="submit"
                class="flex justify-center items-center px-16 py-5 mb-24 w-full text-lg font-medium text-white rounded-xl bg-redux-lightgreen hover:bg-redux-green max-md:px-5"
              >
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
